<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Paquetes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="text-light">
    <header class="text-light">
        <nav class="navbar navbar-expand-lg bg-primary text-light">
            <div class="container-fluid text-light">
              <a class="navbar-brand text-light" href="#">SexMex</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link text-light" aria-current="page" href="/">Rastrear Paquete</a>
                  </li>
                  {% if login %}
                    <li class="nav-item">
                      <p class="pt-2 ps-2">{{login[0]}}</p>
                    </li>
                    <li class="nav-item ps-2">
                      <a class="nav-link active text-light" href="/Registrar/Paquetes">Registrar Paquete</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-light" href="/Historial_Estados">Historial de estados</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
    </header>

    {% if accion == True %}
      <div class="alert alert-primary mt-5 mx-auto text-center" role="alert" style="width: 50rem;">
        Se ha registrado correctamente 
      </div>
    {% endif %}
    {% if accion == False %}
      <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>

      <div class="alert alert-danger d-flex align-items-center mt-5 mx-auto" role="alert" style="width: 50rem; height: 3rem;">
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:" style="height: 2rem; width: 3rem;"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div class="text-center">
          El correo ya esta registrado
        </div>
      </div>
    {% endif %}

    <form style="width: 50rem;" class="mx-auto mt-5 bg-primary p-5 text-light rounded-3" method="post" action="/Historial_Estados/C0N5UL7A">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ID Paquete</label>
            <input type="number" class="form-control" name="id_paquete">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Estado</label>
          <input type="text" class="form-control" name="estado" >
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Lugar</label>
          <input type="text" class="form-control" name="lugar">
        </div>
        <button type="submit" class="btn btn-light">Guardar</button>
    </form>

    <h1 class="text-primary mt-5 text-center">Historial De Estado</h1>

    <table class="table table-bordered table-striped mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Paquete</th>
                <th>Estado</th>
                <th>Lugar</th>
            </tr>
        </thead>
        <tbody>
            {% for estado in estados %}
            <tr>
                <td>{{ estado[0] }}</td>
                <td>{{ estado[1] }}</td>
                <td>{{ estado[2] }}</td>
                <td>{{ estado[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1 class="text-primary mt-5 text-center">Tabla De Paquetes</h1>

    <table class="table table-bordered table-striped mt-4">
        <thead>
            <tr>
                <th>ID Paquete</th>
                <th>Nombre Del Remitente</th>
                <th>Nombre Del Destinatario</th>
                <th>Direccion Del Remitente</th>
                <th>Direccion Del Destinatario</th>
                <th>Codigo Postal Del Remitente</th>
                <th>Codigo Postal Del Destinatario</th>
                <th>Estado Del Remitente</th>
                <th>Estado Del Destinatario</th>
                <th>Ciudad Del Remitente</th>
                <th>Ciudad Del Destinatario</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datos %}
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[2] }}</td>
                <td>{{ data[3] }}</td>
                <td>{{ data[4] }}</td>
                <td>{{ data[5] }}</td>
                <td>{{ data[6] }}</td>
                <td>{{ data[7] }}</td>
                <td>{{ data[8] }}</td>
                <td>{{ data[9] }}</td>
                <td>{{ data[10] }}</td>
                <td>{{ data[11] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>